* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
header {
  background-color: #ffc017;
  color: #191919;
  height: 72%;
  position: relative;
  border-bottom: 1px solid #191919;
}
header ul li {
  list-style-type: none;
  display: inline-block;
  padding: 7px;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 85px;
  font-weight: 400;
  margin-bottom: 50px;
}
header hr {
  border: 1px solid #191919;
}
section {
  padding: 40px 120px;
}
.card {
  flex-basis: 28%;
  display: flex;
}
.intern {
  display: flex;
  flex-direction: column;
}
.num span {
  color: #ddd9d9;
  font-size: 40px;
}
.num {
  margin: 0 18px;
}

.tidy {
  display: flex;
}
.tidy p {
  color: #6b6b6b;
}

section h3 {
  font-weight: 700;
  font-size: 16px;
}

span {
  font-weight: 500;
}

aside {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  overflow: hidden;
  position: sticky;
  top: 80px;
  margin-left: 20px;

  /* justify-content: flex-end; */
  /* align-items: ; */
}
/* .num {
  position: absolute;
  top: 0;
  left: 0;
} */

aside ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
aside ul li {
  padding: 10px 10px;
  color: #6b6b6b;
}
main hr {
  border: 1px solid #ddd9d9;
}
aside hr {
  border: 1px solid #ddd9d9;
  width: 600px;
  margin: 20px 0;
}
.bottomhalf {
  padding: 40px 120px;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.svginiziale {
  position: absolute;
  right: 0;
  bottom: 0;
}
.scrittainiz {
  padding: 92px 120px;
}
.scrittainiz h3 {
  margin-bottom: 50px;
  font-size: 30px;
}
.startnav {
  display: flex;
}
.nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.nav button {
  color: white;
  border: 1px solid #191919;
  background-color: #191919;
  border-radius: 20px;
  padding: 4px 13px;
}
.empty {
  height: 0;
  width: 700px;
}
.navbassa button {
  color: white;
  border: 1px solid #191919;
  background-color: #191919;
  border-radius: 20px;
  font-size: 20px;
  width: 213px;
  padding: 8px 20px;
}

.trend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  row-gap: 40px;
}
.introduction {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.introduction img {
  padding-right: 8px;
}
.card h3 {
  margin-bottom: 20px;
}
.articleaside {
  display: flex;
  flex-direction: column;
}

.singleArticle {
  display: flex;
  margin-bottom: 60px;
}
.singleArticle div:last-child img {
  width: 250px;
}
.singleArticle h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}
.upperhalf {
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-content: center;
  position: relative;
}
.list {
  display: flex;
  margin-top: 20px;
}
.list p:nth-of-type(2) {
  border: 1px solid #ddd9d9;
  background-color: #ddd9d9;
  padding: 3px 6px;
  border-radius: 10px;
  align-self: baseline;
  margin: 0 4px;
}
.list svg:nth-of-type(2) {
  position: absolute;
  right: 30px;
  bottom: 3px;
}
.singleArticle p {
  color: #6b6b6b;
}
.firstul li {
  border: 1px solid #ddd9d9;
  padding: 5px 10px;
  margin: 4px 5px;
}
aside h3 {
  margin-bottom: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.nav {
  position: fixed;
  z-index: 10;
  border-bottom: 2px solid #191919;
  width: 100%;
  background-color: #ffc017;
  transition: background-color 300ms linear;
  animation: anim 300ms;
}
/* @keyframes anim{

} */
